//
//  Config.xcconfig
//  KeychainQ
//
//  Created by Satoshi Ohki on 1/22/20.
//  Copyright © 2020 Facebook. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SWIFT_VERSION = 5.1
// [React Native 0.59 requirements](https://github.com/facebook/react-native/tree/0.59-stable#requirements)
IPHONEOS_DEPLOYMENT_TARGET = 9.0;
